// Mixins Here
//button mixin
.buttons (@backgroundcolor; @color){
        background-color: @backgroundcolor;
        color: @color;
        font-size: 2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .25em;
        padding-bottom: .25em;
        border-radius: 5px;
        }