// Navigation code here
.nav-container{
    max-width: 100%;
    text-align: center;
    background-color: @wild-sand;
    padding-top: 1rem;
    @media @phone{
        width: 100%;
        //border: yellow 4px solid;
    }
    h1{
        font-size: 4rem;
    }
    nav{
        margin-top: 2rem;
        padding-bottom: 1rem;
        a{
            text-decoration: none;
            color: @header-font-color;
            padding-right: 2rem;
            font-size: 1.75rem;
        }
    }

  }